<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="infoUserSection(userView)" class="bg-white shadow-md rounded-md p-6 max-w-2xl mx-auto">
    <h2 class="text-2xl font-bold mb-4 text-green-700">Actualizar Información</h2>
    <form th:action="@{/user/dashboard/info-user}" th:method="post" method="post" class="space-y-4">
        <div>
            <label for="username" class="block text-sm font-medium text-gray-700">Nombre</label>
            <input type="text" id="username" name="username" th:value="${userView.username}"
                   class="mt-1 block w-full rounded-md border-0 ring-1 ring-gray-300 focus:ring-2 focus:ring-green-500 shadow-sm"
                   required>
        </div>
        <div>
            <label for="fullName" class="block text-sm font-medium text-gray-700">Nombre</label>
            <input type="text" id="fullName" name="username" th:value="${userView.fullName}"
                   class="mt-1 block w-full rounded-md border-0 ring-1 ring-gray-300 focus:ring-2 focus:ring-green-500 shadow-sm"
                   required>
        </div>
        <div>
            <label for="email" class="block text-sm font-medium text-gray-700">Correo electrónico</label>
            <input type="email" id="email" name="email" th:value="${userView.email}"
                   class="mt-1 block w-full rounded-md border-0 ring-1 ring-gray-300 focus:ring-2 focus:ring-green-500 shadow-sm"
                   required>
        </div>
        <div>
            <label for="phone" class="block text-sm font-medium text-gray-700">Teléfono</label>
            <input type="text" id="phone" name="phone" th:value="${userView.phone}"
                   class="mt-1 block w-full rounded-md border-0 ring-1 ring-gray-300 focus:ring-2 focus:ring-green-500 shadow-sm">
        </div>
        <div>
            <label for="address" class="block text-sm font-medium text-gray-700">Dirección</label>
            <input type="text" id="address" name="address" th:value="${userView.address}"
                   class="mt-1 block w-full rounded-md border-0 ring-1 ring-gray-300 focus:ring-2 focus:ring-green-500 shadow-sm">
        </div>
        <div>
            <button type="submit"
                    class="mt-4 bg-[#a4fcc4] text-gray-800 px-4 py-2 rounded-md hover:bg-[#8ce6a8] transition-colors duration-300">
                Guardar cambios
            </button>
            <a type="button"
               class="mt-4 bg-red-100 text-red-800 px-4 py-2 rounded-md hover:bg-red-200 transition-colors duration-300"
               th:href="@{/user/dashboard/info-user/reset-password}">
                Cambiar contraseña
            </a>
        </div>
    </form>
</div>
</body>
</html>