<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="ordersSection(orders)" class="bg-white shadow-md rounded-md p-6 overflow-x-auto">
    <h2 class="text-2xl font-bold mb-4 text-green-700">Tus Pedidos</h2>
    <table class="min-w-full table-auto border border-gray-200">
        <thead>
        <tr class="bg-green-100">
            <th class="px-4 py-3 text-left text-sm font-medium text-green-800"># Pedido</th>
            <th class="px-4 py-3 text-left text-sm font-medium text-green-800">Fecha</th>
            <th class="px-4 py-3 text-left text-sm font-medium text-green-800">Total</th>
            <th class="px-4 py-3 text-left text-sm font-medium text-green-800">Última actualización</th>
            <th class="px-4 py-3 text-left text-sm font-medium text-green-800">Estado</th>
            <th class="px-4 py-3 text-left text-sm font-medium text-green-800">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}" class="border-t border-gray-200 even:bg-green-50">
            <td class="px-4 py-2" th:text="${order.id}"></td>
            <td class="px-4 py-2" th:text="${order.createdAt}"></td>
            <td class="px-4 py-2" th:text="${order.totalPrice} + ' €'"></td>
            <td class="px-4 py-2" th:text="${order.updatedAt}"></td>
            <td class="px-4 py-2" th:text="${order.status == null ? 'Sin estado' : order.status.value}"></td>
            <td class="px-4 py-2">
                <a th:href="@{/user/dashboard/orders/{idOrder}(idOrder=${order.id})}"
                   class="inline-block bg-[#a4fcc4] text-gray-800 px-4 py-2 rounded-md uppercase tracking-wide font-semibold hover:bg-[#8ce6a8] transition-colors duration-300">
                    Ver Detalles
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- Paginación -->
    <div class="mt-4 flex justify-center space-x-2">
        <a th:if="${orders.hasPrevious()}" th:href="@{/dashboard/orders(page=${orders.number - 1})}"
           class="px-3 py-1 bg-green-100 text-green-800 rounded-md hover:bg-green-200 transition-colors duration-300">
            Anterior
        </a>
        <span class="px-3 py-1 bg-[#a4fcc4] text-gray-800 rounded-md">[[${orders.number + 1}]]</span>
        <a th:if="${orders.hasNext()}" th:href="@{/dashboard/orders(page=${orders.number + 1})}"
           class="px-3 py-1 bg-green-100 text-green-800 rounded-md hover:bg-green-200 transition-colors duration-300">
            Siguiente
        </a>
    </div>
</div>
</body>
</html>