<!DOCTYPE html>
<html th:attr="lang=${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Farmasterrae - Productos', '/dist/output.css')}"></head>
<body class="bg-gray-50 min-h-screen flex flex-col">
<!-- Header -->
<header th:replace="~{fragments/header :: header}"></header>

<!-- Sección Principal: Listado de Productos -->
<main class="bg-green-50 flex-grow py-20">
    <div class="container mx-auto px-4">
        <h1 class="text-4xl font-bold text-green-800 text-center mb-12" th:text="${text}"></h1>

        <div th:replace="~{fragments/search :: search('/products')}"></div>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 pt-10">
            <div th:each="product : ${products.content}"
                 class="bg-white rounded-md shadow-md overflow-hidden hover:shadow-lg transition-shadow duration-300">
                <img th:if="${product.imagePath != null}" th:src="@{${product.imagePath}}"
                     alt="Imagen del producto"
                     class="w-full h-48 object-cover"/>
                <img th:unless="${product.imagePath != null}" th:src="@{/assets/img/placeholder.svg}"
                     alt="Imagen del producto"
                     class="w-full h-48 object-cover"/>
                <div class="p-6">
                    <h2 class="text-xl font-semibold text-green-700 mb-2" th:text="${product.name}"></h2>
                    <p class="text-gray-600 mb-4" th:text="${'€' + product.price}"></p>
                    <a th:href="@{/products/{reference}(reference=${product.reference})}"
                       class="inline-block bg-green-100 text-green-800 px-4 py-2 rounded-md hover:bg-green-200 transition-colors duration-300">
                        Ver Detalles
                    </a>
                </div>
            </div>
        </div>
        <!-- Paginación -->
        <div th:replace="~{fragments/pagination :: pagination(${products}, '/products', 'productos')}"></div>
    </div>
</main>

<!-- Footer -->
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>